<!doctype html>
<html lang="en-US">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
        <script src="https://kit.fontawesome.com/b30a064eb8.js"
            crossorigin="anonymous"></script>
        <title>{{htmlWebpackPlugin.options.title}}</title>
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous">
        <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark font-weight-bold
            fixed-top">
            <a class="navbar-brand" href="#">
                <img src="static/logo.png" alt="" loading="lazy"
                    class="d-inline-block align-top">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto nav-header">
                    <li class="nav-item active mx-3">
                        <a class="nav-link" href="#"><i class="fas fa-home"></i>
                            Main page</a>
                    </li>
                    <li class="nav-item active mx-3">
                        <a class="nav-link" href="#"><i class="fas
                                fa-project-diagram"></i> About project</a>
                    </li>
                    <li class="nav-item active mx-3">
                        <a class="nav-link" href="#"><i class="fas
                                fa-user-friends"></i> Crew</a>
                    </li>
                    <li class="nav-item active mx-3">
                        <a class="nav-link" href="#"><i class="fas
                                fa-globe-asia"></i> Contacts</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav justify-content-end ml-auto">
                    <li class="nav-item dropdown active dropdown-lang">

                        <button class="nav-link dropdown-toggle
                            dropdown-lang-checked" href="#"
                            id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">

                            <span class="dropdown-label">En</span>

                            <img
                                src="static/united-kingdom.svg" width="30px"
                                height="30px" alt="" loading="lazy"
                                class="d-inline-block align-center flag-nav">
                            <img
                                src="static/arrow.svg" alt="" loading="lazy"
                                class="d-inline-block align-center arrow-nav">
                        </button>

                        <div class="dropdown-menu"
                            aria-labelledby="navbarDropdownMenuLink">
                            <button class="dropdown-item" href="#">En<img
                                    src="static/united-kingdom.svg" width="30px"
                                    height="30px" alt="" loading="lazy"
                                    class="d-inline-block align-top"></button>
                            <button class="dropdown-item" href="#">Ру<img
                                    src="static/russia.svg" width="30px"
                                    height="30px" alt="" loading="lazy"
                                    class="d-inline-block align-top"></button>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <img src="static/carousel-img.jpeg" class="img-fluid"
            alt="Responsive image">

        <h1 class="main-text-on-img text-center">It is best time to learn coding
            from
            scratch!</h1>
        <button type="button" class="btn-on-main-img col-md-4">Get started!</button>
        <section class="crew-section">
            <div class="container">

                <div class="header-crew">
                    Crew
                </div>

                <div class="our-team involvedText">
                    <p class="our-team-text">
                        Our team members are involved in training and in IT.
                        Startup
                        participants studied at good institutes and have
                        experience
                        in full stack development.</p>
                </div>

                <div class="crew-cards text-center">
                    <div class="card crew-card bg-transparent" style="width:
                        18rem;
                        border:none">
                        <img src="static/olegPhoto.jpg" class="card-img-top
                            crew-img"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Oleg Gribanov</h5>
                            <a href="#" class="btn crew-cards-btn
                                font-weight-bold">Trainee IT Specialist</a>
                        </div>
                    </div>

                    <div class="card crew-card bg-transparent" style="width:
                        18rem;
                        border:none">
                        <img src="static/azaliiaPhoto.jpg" class="card-img-top
                            crew-img"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Azaliia Yusifova</h5>
                            <a href="#" class="btn crew-cards-btn
                                font-weight-bold">Developer</a>
                        </div>
                    </div>
                </div>

                <div class="about-us involvedText">
                    <p>Despite the fact that we can do everything we need, our
                        team is open to new talents, since together we can move
                        forward much faster! Please join a fast-growing startup!</p>
                </div>

            </div>
        </section>




        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    </body>

</html>